$primary: #4762fe;
$brand: #4762fe;
$click: #3245d9;
$normal: #4762fe;
$hover: #708aff;
$title: #212121;
$title-body: #333333;
$body: #666666;
$Caption: #999999;
$disable-1: #bbbbbb;
$border: #cccfd4;
$dividers: #e6e9ee;
$disable-2: #c2d1ff;
$background-1: #f5f7f8;
$link: #4762fe;
$success: #0cb204;
$warning: #faad14;
$error: #ff4401;
$label: #fa541b;
$background-2: #f8f9fb;
